.addForm {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border: 1px solid black;
    padding: 7px;
    border-radius: 10px;
    gap: 7px;
    width: 255px;
    margin-bottom: 10px;
}

.input {
    width: 247px;
}

.btn {
    margin-left: auto;
    margin-right: auto;
}